*{
    margin: 0;
    padding: 0;
}






header {
    background-color: red;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    color: white;
}
header nav ul{
    display: none;
}
header nav ul li{
    list-style-type: none;
}


.box{
    width: 100px;
    height:100px;
    background-color: blue;
}

.flex{
    height: 270px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    /* align-items: flex-start; */
    align-content: flex-start;
    gap: 20px;
}

.box1{
    order: 2;
    /* flex: 1; */
    /* flex-grow: 2; */
}
.box2{
    order: 1;
    /* align-self: center; */
    /* flex-grow: 1; */
    /* flex-basis: 400px; */
    flex: 1;
}


.box3{
    order: 4;
    /* flex-grow: 3; */
    /* flex-basis: 400px; */
    /* width: 400px; */
}
.box4{
    order: 3;
}


.grid{
    background-color:pink;


    display: grid;
    /* gap:10px; */
    /* grid-row-gap: 50px;    
    grid-column-gap: 60px;         */
    grid-template-columns: repeat(2, 1fr);
    justify-items:center ;
    align-items: center;
    /* grid-auto-rows: 200px; */
    /* grid-template-areas:'pov1 pov2'
                        'pov3 pov4'; */
    /* height: 800px; */
}
/* .grid1{
    grid-area: pov1;
}
.grid2{
    grid-area: pov2;
}
.grid3{
    grid-area: pov3;
}
.grid4{
    grid-area: pov4;
} */

.grid1{
    grid-column-start: span 2;
}













.boxgrid{
    width: 100px;
    height: 100px;
    background-color: blue;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-areas:
        'pov1 pov1 pov3 pov4'
        'pov5 pov6 pov6 pov6'
        'pov5 pov2 pov2 pov2'; */
    grid-gap: 10px;
    background-color: lightgreen;
    padding: 10px;
}

.grid-container div {
    background-color: green;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: white;
}
/* 
.item1{
    grid-area: pov1;
}
.item2{
    grid-area: pov2;
}
.item3{
    grid-area: pov3;
}   
.item4{
    grid-area: pov4;
}
.item5{
    grid-area: pov5;
}
.item6{
    grid-area: pov6;
} */

@media (min-width: 640px) {
    header nav{
        justify-content: space-between;
        padding: 20px 40px;
    }
    header nav ul{
        display: flex;
        font-size: 20px;
        gap: 20px;
    }
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 760px) {
    header nav{
        padding: 20px 40px;
    }
    header nav ul{
        font-size: 23px;
        gap: 30px;
    }
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    header nav{
        padding: 20px 40px;
    }
    header nav ul{
        font-size: 24px;
        gap: 30px;
    }
}
@media (min-width: 1024px) {
    header nav{
        padding: 20px 60px;
    }
    header nav ul{
        font-size: 23px;
        gap: 30px;
    }
}
@media (min-width: 1280px) {
    header nav{
        padding: 20px 80px;
    }
    header nav ul{
        font-size: 23px;
        gap: 30px;
    }
}


