*{
    margin: 0;
    padding: 0;
}






header {
    background-color: red;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    color: white;
}
header nav ul{
    display: none;
}
header nav ul li{
    list-style-type: none;
}


.box{
    width: 100px;
    height:100px;
    background-color: blue;
}

.flex{
    height: 270px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    /* align-items: flex-start; */
    align-content: flex-start;
    gap: 20px;
}

.box1{
    order: 2;
    /* flex: 1; */
    /* flex-grow: 2; */
}
.box2{
    order: 1;
    /* align-self: center; */
    /* flex-grow: 1; */
    /* flex-basis: 400px; */
    flex: 1;
}


.box3{
    order: 4;
    /* flex-grow: 3; */
    /* flex-basis: 400px; */
    /* width: 400px; */
}
.box4{
    order: 3;
}


.grid{
    background-color:pink;


    display: grid;
    /* gap:10px; */
    /* grid-row-gap: 50px;    
    grid-column-gap: 60px;         */
    grid-template-columns: repeat(2, 1fr);
    justify-items:center ;
    align-items: center;
    /* grid-auto-rows: 200px; */
    /* grid-template-areas:'pov1 pov2'
                        'pov3 pov4'; */
    /* height: 800px; */
}
/* .grid1{
    grid-area: pov1;
}
.grid2{
    grid-area: pov2;
}
.grid3{
    grid-area: pov3;
}
.grid4{
    grid-area: pov4;
} */

.grid1{
    grid-column-start: span 2;
}













.boxgrid{
    width: 100px;
    height: 100px;
    background-color: blue;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1);
    grid-template-areas:
        'pov1 pov3 pov4 pov4'
        'pov5 pov6 pov6 pov6'
        'pov2 pov2 pov2 pov2';
    grid-gap: 10px;
    background-color: lightgreen;
    padding: 10px;
}

.grid-container div {
    background-color: green;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: white;
}

.item1{
    grid-area: pov1;
}
.item2{
    grid-area: pov2;
}
.item3{
    grid-area: pov3;
}   
.item4{
    grid-area: pov4;
}
.item5{
    grid-area: pov5;
}
.item6{
    grid-area: pov6;
}

@media (min-width: 640px) {
    header nav{
        justify-content: space-between;
        padding: 20px 40px;
    }
    header nav ul{
        display: flex;
        font-size: 20px;
        gap: 20px;
    }
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 760px) {
    header nav{
        padding: 20px 40px;
    }
    header nav ul{
        font-size: 23px;
        gap: 30px;
    }
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    header nav{
        padding: 20px 40px;
    }
    header nav ul{
        font-size: 24px;
        gap: 30px;
    }
}
@media (min-width: 1024px) {
    header nav{
        padding: 20px 60px;
    }
    header nav ul{
        font-size: 23px;
        gap: 30px;
    }
}
@media (min-width: 1280px) {
    header nav{
        padding: 20px 80px;
    }
    header nav ul{
        font-size: 23px;
        gap: 30px;
    }
}




.responsive{
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    background-color: red;
}
.res{
    /* display: flex; */
    gap: 15px;
    display: none;
}
@media (min-width: 640px) {
    .responsive{
        justify-content: space-between;
    }
    .res{
        display: flex;
    }
}
.flex-container div {
    background-color: green;
    width: 40px;
    height: 40px;   
}

.flex-container3{
    
}

.flex-container3 div{
    background-color: green;
    width: 40px;
    height: 40px;   
}


.trans{
    margin: 20px;
    /* transform: translatex(300px); */
    /* transform: translate(100px,100px); */
    /* transform: scale(0.5); */
    /* transform: rotate(90deg); */
    /* transform: skewx(-45deg); */

    /* transition-duration: 2s;
    transition-delay: 2s;
    transition-timing-function: linear;
    transition-property: all;
    transition: all 2s linear 0s; */

    /* animation-name: runner;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    animation-play-state:paused; */

    /* animation: runner 4s linear 0s infinite alternate-reverse forwards runni/ng; */
    animation: runner 4s linear infinite;
}

/* .trans:hover{
    animation-play-state: running;
} */
@keyframes runner{
   0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(200px);
    }
    /* 50%{
        transform: translate(200px,200px);       
    }
    75%{
        transform: translate(0px,200px);       
    }
    100%{
        transform: translate(0px);       
    } */
    
}






.trans:hover{
    transform: scale(1.5);
    background-color:red;
}

/* pseudo */


.transs:hover{
    background: red;
}

.transs:active{
    transform: scale(1.5);
}

.transs{
    position: relative;
}
.transs::after{
    width: 10px;
    content: "";
    height: 10px;
    position: absolute;
    top: 0;
    background-color: red;
}

.navi{
    text-decoration: none;
    color: blue;
    background-color: yellow;
}



.nava::after{
    content: "Hello";
}



p::after{
    content: "Hello";
    background-color: red;
}

p::before{
    content: "Before";
    background-color: yellow;
}

p::first-letter{
    background-color: red;
}
p::first-line{
    background-color: blue;
}
p::selection{
    background-color: yellow;
    color: red;
}
input:focus{
    background-color: yellow;
    color: red;
}



